# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d
.idea/*
CMakeFiles/*
src/CMakeFiles/*
src/Makefile
src/cmake_install.cmake
cmake_install.cmake
Makefile
CMakeCache.txt
install*

tests
build

*.xml

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
